body {
    position: relative;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #569858;
    overflow: hidden;
    margin-bottom: 0px;
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 40px;
    text-decoration: none;
}

.navbar li:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
}

/* Style for the bottom navigation bar */
.bottom-navbar {
    background-color: #569858;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 500px;
    font-size: 12px;
}

/* Style for image banner and content */
.container img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%; 
}

.content {
    text-align: center;
    margin: 0 auto;
    max-width:  600px;
    padding: 10px; /* Add padding around the content */
}

.content h1 {
    /* Optional: Additional styles for the heading */
    font-size: 48px;
}

.content p {
    /* Optional: Additional styles for paragraphs */
    font-size: 24px;
}

.content ul {
    font-size:  16px;
}

/* Style for dropdown container */
.dropdown-container {

    align-items: center;
    width: 40%;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    font-size: 16px;
}

/* Style for label */
.dropdown-label {
    font-weight: bold;
    font-size: 20px;
    flex: 0 0 auto; /* Make the label not flexible */
}

/* Style for focused dropdown */
.dropdown-container select:focus {
    border-color: #66afe9;
    outline: 0;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

/* Style for input boxes */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    width: 48%; /* Set width to fit two input boxes in a row */
    padding: 15px;
    padding-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box; 
    max-height: 200px;
    overflow-y: auto;
}

.input-box label {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

/* Style for range (slider) inputs */
.input-box input[type="range"] {
    width: 50%; 
    margin-top: 5px; 
    margin-left: 20px;
    -webkit-appearance: none; 
    appearance: none; 
    height: 10px; 
    background: #47c447; 
    outline: none; 
    border-radius: 10px; 
    pointer-events: auto;
}


.reset-button {
    width: 150px; 
    height: 40px; 
    font-size: 16px; 
    background-color: #d8f56e;
    right: 50px;
}

.save-button {
    width: 150px; 
    height: 40px; 
    font-size: 16px; 
    background-color: aqua;

}


.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none; 
  }
  

#runModel {
    margin-top: 20px;
    width: 500px;
    background-color: #ff001a

}


.container-fluid bottom {
    padding-bottom: 400px;
}

.container-bottom {
    padding-bottom: 100px;
}

.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
  }
  
  .button-container {
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  
  #predicted-value {
    font-size: 24px;
  }
  

