/* Define styles for the iframe container */
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 80%; /* Aspect ratio (9:16) for widescreen presentations */
    height: 0;
    overflow: hidden;
}

/* Define styles for the iframe itself */
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; /* Remove border around iframe */
}